.venv/

__pycache__/
*.py[cod]
*.sqlite3
*.db

.vscode/

.DS_Store
Thumbs.db

# Build output
/frontend/dist/
/daily_sample_log.csv
/daily_sample_log.pdf

# Node junk
/node_modules/
/package-lock.json
